body {
  background: radial-gradient( circle at center, grey, black);
}

h1,h2,p {
  color: #eee;
}

p {
  font-size: 1.2em;
}

@media screen and (max-width: 991px) {
  h2,p {
    text-align: center;
  }
}

.btn {
  margin: 0.2em;
}

.end {
  font-size: 1.5em;
}

.restart {
  margin-top: 1em;
}
